<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Erreur d'accès au NAS</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container">
        <div class="error-box">
            <h1>Erreur : NAS inaccessible</h1>
            <p>Vous devez avoir accès au NAS pour utiliser ce site.</p>
            <p>Essayez de changer votre mode de connexion.</p>
            <p>Chemin : <a href="\\nas23\MRO_GlobalSupplyChain\" target="_blank">\\nas23\MRO_GlobalSupplyChain\</a></p>
        </div>
    </div>
</body>
</html>
